body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right, #051421, #042727);
}

#menu {
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 10px;
}
#menu button {
  margin: 10px;
  background-color: purple;
  font-weight: 500;
  color: white;
  border-radius: 1in;
}

.bar-group .name-label {
  text-anchor: end;
  font-weight: 300;
  font-size: 0.7em;
  fill: white;
}

.bar-group .value-label {
  text-anchor: end;
  fill: #fff;
  font-weight: 400;
  font-size: 0.7em;
}

.bar-group:hover rect {
  opacity: 0.8 !important;
}

.bar-group:hover .name-label {
  font-weight: 500;
}
